@import "./variables.scss";

.events-home {
  background: rgb(0, 0, 0);
  background-image: url(../assets/events_bg2.jpg);
  min-height: auto;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 4rem;

  .gradient {
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 35%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  @media only screen and (max-width: 900px) {
    min-height: 70vh;
    padding-bottom: 3rem;
  }

  .content {
    text-align: center;
    h2 {
      letter-spacing: 3px;
      font-family: "Playfair Display", serif;
      font-size: 60px;
      font-weight: lighter;
      padding: 4rem 2rem 2rem 2rem;
      color: $light-grey;
    }

    p {
      padding: 0 2rem;
      line-height: 2rem;
      color: $light-grey;
      font-weight: lighter;
    }

    @media only screen and (max-width: 900px) {
      h2 {
        font-size: 40px;
        line-height: 40px;
      }
      p {
        padding: 0rem;
        line-height: 2rem;
      }
    }
  }
}

.neon-ill {
  margin: 0 2rem;
  @media only screen and (max-width: 900px) {
    margin: 0rem;
  }
}

.carousel {
  overflow: hidden;
  margin: 2rem;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  justify-content: center;
  background-color: transparent;
  width: 300px;
  color: #fff;
  opacity: 0.9;
}

.indicators button {
  outline: none;
  background-color: transparent;
  border: 0;
}

.indicators button:focus {
  outline: none;
}

.indicators {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  cursor: pointer;
}

.indicators > button {
  font-size: 20px;
  margin: 7.5px;
}

.indicators > button.active {
  color: #d43d5e;
}

// ___________________
