@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
  color: rgb(202, 197, 197);
}
.loader {
  text-align: center;
  background-color: #02062c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #050505;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(55, 11, 105);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 9, 150);
}
